<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:p="http://www.springframework.org/schema/p"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xmlns:websocket="http://www.springframework.org/schema/websocket"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/aop
				http://www.springframework.org/schema/aop/spring-aop.xsd
				http://www.springframework.org/schema/mvc
				http://www.springframework.org/schema/mvc/spring-mvc.xsd
				http://www.springframework.org/schema/context
				http://www.springframework.org/schema/context/spring-context.xsd
				http://www.springframework.org/schema/websocket
				http://www.springframework.org/schema/websocket/spring-websocket-4.1.xsd">
<!-- controller,logic,dao 패키지들에 속한 클래스가 @Component가 있는 경우 객체화 -->
<context:component-scan base-package="controller,logic,dao,aop,util"/>
<!-- 유효성 검증을 어노테이션으로 처리하도록 설정 -->
<mvc:annotation-driven />
<!-- Aspect가 활동가능하게해줌 -->
<aop:aspectj-autoproxy />
<!-- http://localhost:8080/mavenshop3/item/list.shop
	 item : ItemController 클래스 검색.   ↑
	 URL 요청정보와 Controller를 이름으로 매핑하도록 설정
 -->
<bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping" />
<!-- 
	messages.properties 파일을 검색하기 전에 지역코드 파일을 먼저 검색함
	1. messages_ko_KR.properties : 언어에 맞도록 코드 설정함.
 -->
<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
	<property name="basenames"><list><value>messages</value></list></property>
</bean>
<!-- 
	<viewResolver> : view 결정자
	View 위치를 지정
 -->
<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	<property name="viewClass">
		<value>org.springframework.web.servlet.view.JstlView</value>
	</property>
	<property name="prefix"><value>/WEB-INF/view/</value></property>
	<property name="suffix"><value>.jsp</value></property>
</bean>
<!-- 파일 업로드 관련 설정 -->
<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" p:maxUploadSize="104857600" p:maxInMemorySize="10485760" />
<!-- 예외 처리 관련 설정 -->
<bean id="exceptionHandler" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
	<property name="exceptionMappings" >
	<!-- CartEmptyException 라는 exception이 발생되면 exception.jsp로 제어를 넘김 -->
	<!-- exception.CartEmptyException 예외 발생시 /WEB-INF/view/exception.jsp 페이지 가 예외페이지로 설정 -->
		<value>exception.CartEmptyException=exception
				exception.LoginException=exception
				exception.ShopException=exception</value> 
	</property>
</bean>

<bean id="echoHandler" class="websocket.EchoHandler"/> <!-- EchoHandler : Chatting 서버의 역할 -->
<websocket:handlers>
	<websocket:mapping handler="echoHandler" path="/chatting.shop" />
</websocket:handlers>
</beans>