<?xml version="1.0" encoding="UTF-8"?>
<!-- /main/resource/aop2.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:p="http://www.springframework.org/schema/p"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/aop
				http://www.springframework.org/schema/aop/spring-aop.xsd
				http://www.springframework.org/schema/context
				http://www.springframework.org/schema/context/spring-context.xsd">
<!-- connection 객체 -->
<!-- ConnectionPool(컨넥션 풀) 사용하기
	컨넥션 풀 : 미리 db와 연결된 객체(Connection 객체)를 지정하고 있는 공간.
	 : 대량의 데이터 처리시 한개의 dataSource를 가지지 않기 떄문에 처리에 용이함
 -->
<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
	<property name="driverClass"><value>org.mariadb.jdbc.Driver</value></property>
	<property name="jdbcUrl"><value>jdbc:mariadb://192.168.0.156:3306/bigdb</value></property>
	<property name="user"><value>scott</value></property>
	<property name="password"><value>tiger</value></property>
	<property name="maxPoolSize"><value>20</value></property> <!-- 최대 Connection객체 갯수 : 최대 20개까지만 늘려라 -->
	<property name="minPoolSize"><value>3</value></property> <!-- 최소 Connection객체 갯수 : 최소 3개까지 줄여라 -->
	<property name="initialPoolSize"><value>5</value></property> <!-- 초기 Connection객체 갯수 : 처음에 5개만듬 -->
	<property name="acquireIncrement"><value>5</value></property> <!-- 증가 Connection객체 갯수 -->
</bean>
<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	<property name="dataSource" ref="dataSource"/>
	<property name="configLocation" value="classpath:mybatis-config.xml"/> <!-- classpath:mybatis-config.xml : 커넥션 객체 -->
</bean>

<!-- 
	@Autowired
	private SqlSessionTemplate sqlSession; 
	: sqlSessionTemplate 사용법 : Dao 에서 선언
-->
<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
	<constructor-arg ref="sqlSessionFactory"/>
</bean>
</beans>